@media (min-width:280px) and (max-width:1276px) {
   
}
@media (min-width:280px) and (max-width:1140px){
   .header-language {
      top: 80px;
      left: 0;
   }
}
@media (min-width: 280px) and (max-width: 1060px) { 
   .header-content-img {
      left: -50px;
   }
   .title {
      width: 100%;
   }
   .title::after {
      display: none;
   }
   .title::before {
      display: none;
   }
   .header-content-aboutus {
      left: 700px;
   }
   .header-block-title {
      left: 30px;
   }
   .header-email{
      margin-left: 250px;
   }
   .about-company {
      margin-right: 0;
   }
   .about-company > .title {
      margin: 0;      
   }
   .tariffs {
      display: block;      
   }
   .tariffs-elem {
      display: inline-block;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 200px;
   }
   .tariffs-elem:nth-child(2n){
      margin-right: 0;
   }
   .tariffs-elem:nth-child(3){
      margin-bottom: 200px;
      
   }
   .tariffs-elem:nth-child(4) {
      margin-bottom: 200px;
   }
   .statistic-content {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .statistic-operation{
      margin-top: 30px;
   }
   .tariffs-decor-one {
      top: -150px;
      right: 0px;
      
   }
}
@media (min-width: 280px) and (max-width: 680px) {
   header {
      width: auto;
   }
   .title {
      width: 100%;
   }

   .title::after {
      display: none;
   }

   .title::before {
      display: none;
   }

   .title > span {
      font-size: 40px;
   }
   .header-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .header-email {
      margin-left: 0;
      margin-top: 100px;
   }
   .header-language {
      top: 380px;
      left: 150px;
   }
   .header {
      margin-bottom: 20px;
   }
   .header-content-img{
      display: none;
   }
   .header-block-title{
      display: none;
   }
   .header-content-title{
      width: 100%;
      margin: 0;
      right: 0px;
   }
   .header-content-title span{
      font-size: 40px;
   }
   .header-content-buttom {
      left: 0px;
      top: 350px;
   }
   .header-content-buttom > span {
      font-size: 14px;
      padding: 30px 40px;
   }
   .header-content-buttom > p {
      right: 50px;
   }
   .header-content-aboutus{
      display: none;
   }
   .about-company > .title{
      margin: 0;
   }
   .about-company>.title>span {
      font-size: 30px;
   }
   .about-company-img {
      display: none;
   }
   .advantage {
      height: auto;
   }
   
   .advantage-title > span {
      font-size: 30px;
   }
   .advantage-content {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .advantage-content-elem {
      margin-left: -50px;
      margin-bottom: 30px;
   }
   .advantage-step {
      display: none;
   }
   .tariffs-decor-one{
      display: none;
   }
   .tariffs-decor-two {
      display: none;
   }
   .tariffs-buttom {
      left: -51px;
      top: 30px;
   }
   .tariffs-buttom > p {
      right: 10px;
   }
   .tariffs-elen {
      margin-bottom: 200px;
   }
   .tariffs-elem:last-child{
      margin-bottom: 0;
   }
   .statistic-decor-one{
      display: none;
   }
   .statistic-decor-two {
      display: none;
   }
   .statistic-info {
      background-image: none;
      background-color: #7FD934;
      width: 100%;
      padding-top: 45px;
      margin: 0;
      height: auto;
   }
   .statistic-content-info {
      margin-top: 0;
      margin-bottom: 45px;
      margin-left: 10%;
   }
   .statistic-content-info:nth-child(2n){
       margin-left: 10%;
   }
   .statistic-operation-tabs {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .statistic-operation-wrapper {
      background-image: none;
      background-color: #fff;
   }
   .statistic-operation-content {
      height: auto;

   }
   .statistic-operation-content-elem {
      width: 80%;
      flex-direction: column;
      align-items: center;
      height: 130px;
      
   }
   .statistic-operation-content-elem-date > img {
      display: none;
   }
   .statistic-operation-wrapper {
      width: 100%;
   }
   .row_flex {
      flex-direction: column;
      align-items: center;
   }
   .footer_row {
      margin-top: 20px;
      flex-direction: column;
   }
   .social {
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;
   }
   .address ul li {
      position: relative;
      text-align: center;
      padding-bottom: 45px;
      display: block;
   }
   .address ul li p {
      max-width: none;
      position: absolute;
      left: 0;
      top: 35px;
   }
   .schedule_footer::after{
      content: "";
      background-image: none;
      display: none;
   }
   .payment {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .banner-buttom> img {
      left: 40px;
   }
   .modal-two-help {
      margin-bottom: 30px;
   }
   .modal-two-help span {
      margin: 0;      
   }   
   .two-banner-buttom img {
      left: 100px;
      bottom: -20px;
   }
   .news-one,
   .news-two,
   .news-three {
      display: none;
   }
   .footer-list-one {
      display: none;
   }
   .footer-list-two {
      display: none;
   }
}
@media (min-width: 280px) and (max-width: 360px) {
   .header-content-buttom {
      transform: scale(0.9);
      
   }

}